body {
  margin: 0;
  background-color: darkgray;
  overflow: hidden;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#car-canvas {
  background-color: lightgray;
}

#network-canvas {
  background-color: black;
}

#vertical-buttons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
